---
import Layout from '@/layouts/Layout.astro';
import FormatedDate from '@/components/FormatedDate.tsx';

const date = new Date();
---

<Layout title="New page">
  <main class="flex h-full flex-col items-center justify-center gap-2">
    <FormatedDate client:load date={date} />
  </main>
</Layout>
