---
import Layout from '@/layouts/Layout.astro';
import FormatedDate from '@/components/FormatedDate.tsx';
import User from '@/components/User.astro';
import BookmarkGrid from '@/components/BookmarkGrid.astro';

import data from '@/lib/data.js';

const { user, bookmarks } = data;
---

<Layout title="New page">
  <main class="flex flex-col items-center gap-2 sm:justify-center min-h-full">
    <div
      class="flex gap-y-2 gap-x-5 items-center justify-center flex-col sm:flex-row"
    >
      <User user={user} />
      <div class="hidden sm:block h-28 w-0.5 bg-white/60"></div>
      <FormatedDate client:load />
    </div>
    <section
      class="mt-16 md:mt-10 flex flex-col gap-8 md:gap-4 items-center w-full"
    >
      <h2 class="text-xl tracking-tight font-black text-white">Links</h2>
      <BookmarkGrid bookmarks={bookmarks} />
    </section>
  </main>
</Layout>
<script>
  import { createIcons, icons } from 'lucide';
  createIcons({ icons });
</script>
